body {
    margin: 0;
    padding: 0;
    font: 15px Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #f4f4f4;
}
.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #35424a;
    border-bottom: #ff4500 4px solid;
    padding-top: 2em;
    min-height: 5em;
}
header .branding h1 {
    color: white;
    float: left;
    margin: 0;
}
header #navbar ul {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    float: right;
    word-spacing: 3.5vw;
    font-size: large;
    text-transform: uppercase;
}
header #navbar li {
    display: inline;
}
header #navbar a {
    color: white;
    text-decoration: none;
}
#navbar a:hover {
    color: #e8491d;
    font-weight: bold;
}

#first {
    margin: 0;
    padding: 1.5em;
    background: #35424a;
}
#first .container h2 {
    float: left;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}
#first .container form {
    float: right;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#first button {
    background: #e8491d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7em;
}
#first input {
    height: 30px;
    width: 25vw;
}

#second .container .servc {
    width: 50vw;
    float: left;
    display: block;
    margin: 0;
}
#second .servc ul {
    display: block;
    padding: 0;
}
#second .servc ul li {
    list-style-type: none;
    background: #e6e6e6;
    border: #cccccc 1px solid;
    padding: 15px;
    margin-bottom: 5px;
}
#second .container .sidebar {
    padding: 0;
    width: 35%;
    float: right;
    margin-top: 4em;
}
#second .container .sidebar .form {
    margin: 0;
    padding: 0;
    background: #35424a;
    color: white;
    min-height: 4em;
    padding: 30px 15% 15px 5%;
}
#second .quote label {
    display: block;
}
#second .quote input, textarea {
    padding: 0.5em;
    font-size: medium;
    width: 22vw;
    resize: none;
}
#second .quote button {
    color: white;
    background: #e8491d;
    font-size: medium;
    padding: 8px 20px 8px 20px;
}

footer {
    margin-top: 5%;
    background: #e8491d;
    text-align: center;
    color: white;
    padding: 2vh;
}

@media(max-width: 768px) {
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    border-bottom: #ff4500 4px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 5em;
    text-align: center;
    line-height: 2;
}
header .branding h1 {
    color: white;
    float: none;
    margin: 0;
}
header #navbar ul {
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    float: none;
    word-spacing: 3.5vw;
    font-size: large;
    text-transform: uppercase;
}
header #navbar li {
    display: inline;
}
header h1, a {
    color: white;
    text-decoration: none;
}
#navbar a:hover {
    color: #e8491d;
    font-weight: bold;
}

#first {
    margin: 0;
    padding: 1.3em;
    background: #35424a;
    text-align: center;
}
#first .container h2 {
    float: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}
#first .container form {
    float: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0rem;
}
#first input {
    height: 30px;
    width: 90vw;
    font-size: medium;
}
#first button {
    background: #e8491d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7em;
    padding-left: 4em;
    padding-right: 4em;
    width: fit-content;
    display: inline-block;
    margin-top: 1%;
}

#second .container .servc {
    text-align: center;
    width: 90vw;
    float: none;
    display: block;
    margin: 0 auto;
}
#second .servc ul {
    display: block;
    padding: auto;
}
#second .servc ul li {
    list-style-type: none;
    background: #e6e6e6;
    border: #cccccc 1px solid;
    padding: 15px;
    margin-bottom: 5px;
}
#second .container .sidebar {
    padding: 0;
    width: 90vw;
    float: none;
    margin-top: 4em;
    display: table;
    margin: 0 auto;
}
#second .container .sidebar .form {
    margin: 0;
    padding: 0;
    background: #35424a;
    color: white;
    min-height: 4em;
    padding: 30px 15% 15px 5%;
}
#second .quote label {
    display: block;
}
#second .quote input, textarea {
    padding: 0.5em;
    font-size: medium;
    width: 80vw;
    resize: none;
    display: block;
}
#second .quote button {
    color: white;
    background: #e8491d;
    font-size: medium;
    padding: 8px 35px 8px 35px;
    display: table;
    margin: 0 auto;
    margin-top: 1%;
}

}